body {
    background-image: url(/img/action-figures-art-boy-163036.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#game {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: azure;
    border-radius: 5px;
    max-width: 500px;
    min-height: 500px;
    margin-left: calc(50% - 250px);
}

.game__section{
    width: 100%;
}

.game__header {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
}

.btn-add {
    height: 50px;
    width: 200px;
    border-radius: 5px;
    background-color: blue;
}

.game__row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.game-ordinar-numbers {
    width: 25px;
    margin-right: 5px;
    padding: 2px;
    text-align: center;
}

.game-name{
    width: 150px;
    padding: 2px;
}

.fas {
    margin-left: 10px;
}